@media screen and (max-width: 767px)
{
    .nav-butt
    {
        height: 35px;
        width: 15%;
    }
    #spe-butt
    {
        font-size: 12px;
    }
    .banner-img-main
    {
        justify-content: space-evenly;
    }
    .img-banner img
    {
        height: 180px;
    }
    .lines h1 
    {
        font-size: 1.7rem;
    }
    .big-box
    {
        flex-direction: column;
    }
    .gym-img
    {
        padding-top: 0;
        width: 100%;
    }
    .big-box-2
    {
        flex-direction: column;
    }
    .boxing-img
    {
        padding-top: 0;
        width: 100%;
    }
    .big-box-3
    {
        flex-direction: column;
    }
    .diet-img
    {
        padding-top: 0;
        width:100%;
    }
    footer 
   {
      height: 30vh;
   }
   .last
   {
     font-size: 1rem;
   }
}
@media screen and (max-width: 479px)
{
    .banner-image
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-in
    {
        font-size: 16px;
    }
    .nav-butt
    {
        font-size: 8px;
        width: 15%;
        height: 25px;
        border: 0.8px solid #ffffff;
    }
    .img-banner img 
    {
        height: 300px;
    }
   .lines h1 
   {
        font-size: 1.7rem;
   }
   .text-img p
   {
        font-size: 1rem;
   }
   .big-box
    {
        flex-direction: column;
    }
    .gym-img
    {
        width: 100%;
    }
     .big-box-2
    {
        flex-direction: column;
    }
    .boxing-img
    {
        width: 100%;
    }
    .big-box-3
    {
        flex-direction: column;
    }
    .diet-img
    {
        width: 100%;
    }
    footer 
   {
     height: 45vh;
   }
   .last-footer
   {
    padding-top: 10px;
   }
   .last
   {
     font-size: 1rem;
   }
}