@media screen and (max-width: 767px)
{
    .nav-butt
    {
        height: 35px;
        width: 15%;
    }
    #spe-butt
    {
        font-size: 14px;
    }
    .img-banner img
    {
        height: 200px;
    }
    .main-img-in
    {
        height: 300px;
        width: 40%;
    }
    .main-img-sec
    {
        height: 300px;
        width: 40%;
    }
    .main-img-3
    {
        height: 300px;
        width: 40%;
    }
    .main-img-4
    {
        height: 300px;
        width: 40%;
    }
    .main-img-5
   {
        height: 300px;
        width: 40%;
   }
   .main-img-6
   {
      height: 300px;
      width: 40%;
   }
}
@media screen and (max-width: 479px)
{
    .banner-img-main
    {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .nav-main
    {
        margin-inline: none;
        margin-left: 35px;
    }
    .nav-in
    {
        font-size: 15px;
    }
    .nav-butt
    {
        font-size: 8px;
        width: 20%;
        height: 30px;
    }
    .banner-img h1 
    {
        font-size: 2rem;
    }
    h1 
    {
        font-size: 1.7rem;
        text-align: center;
    }
    .tag-2
    {
        font-size: 1.5rem;
    }
    .main-img-in
    {
        height: 300px;
        width: 100%;
    }
    .main-img-sec
    {
        height: 300px;
        width: 100%;
    }
    .main-img-3
    {
        height: 300px;
        width: 100%;
    }
    .main-img-4
    {
        height: 300px;
        width: 100%;
    }
    .main-img-5
   {
        height: 310px;
        width: 100%;
   }
   .main-img-6
   {
      height: 300px;
      width: 100%;
   }
   footer 
   {
     height: 45vh;
   }
   .last-footer
   {
    padding-top: 10px;
   }
   .last
   {
     font-size: 1rem;
   }
}