@media screen and (max-width: 767px)
{
     .nav-butt
    {
        height: 35px;
        width: 15%;
    }
    #spe-butt
    {
        font-size: 14px;
    }
    .banner-img-main
    {
        justify-content: space-evenly;
    }
    .img-banner img
    {
        height: 200px;
    }
    .lines h1 
    {
        font-size: 1.5rem;
    }
    .day-first-img
    {
        padding-top: 0;
        width: 30%;
        height: 280px;
    }
    .day-second-img
    {
        padding-top: 0;
        width: 30%;
        height: 280px;
    }
    .day-third-img
    {
        padding-top: 0;
        width: 30%;
        height: 280px;
    }
    .day-four-img
    {
        padding-top: 0;
        width: 30%;
        height: 280px;
    }
    .day-five-img
    {
        padding-top: 0;
        width: 30%;
        height: 280px;
    }
    .day-six-img
    {
        padding-top: 0;
        width: 30%;
        height: 280px;
    }
    footer 
   {
      height: 30vh;
   }
   .last
   {
     font-size: 1rem;
   }
}
@media screen and (max-width:479px)
{
    .banner-image
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-hover
    {
        font-size: 16px;
    }
    .nav-butt
    {
        font-size: 8px;
        width: 15%;
        height: 25px;
        border: 0.8px solid #ffffff;
    }
    #spe-butt
    {
        font-size: 12px;
    }
    .img-banner img 
    {
        height: 280px;
    }
    p 
    {
        font-size: 1rem;
        padding-bottom: 0;
        padding-top: 5px;
    }
    .tag
    {
        text-align: center;
    }
    .tag-2
    {
        font-size: 1.5rem;
    }
    .lines h1 
   {
        font-size: 1.7rem;
   }
   .day-first-img
    {
        padding-top: 0;
        width: 47%;
        height: 210px;
    }
    .day-second-img
    {
        padding-top: 0;
        width: 47%;
        height: 210px;
    }
    .day-third-img
    {
        padding-top: 0;
        width: 47%;
        height: 210px;
    }
    .day-four-img
    {
        padding-top: 0;
        width: 47%;
        height: 210px;
    }
    .day-five-img
    {
        padding-top: 0;
        width: 47%;
        height: 210px;
    }
    .day-six-img
    {
        padding-top: 0;
        width: 47%;
        height: 210px;
    }
    footer 
   {
     height: 45vh;
   }
   .last-footer
   {
    padding-top: 10px;
   }
   .last
   {
     font-size: 1rem;
   }
}