@media screen and (max-width: 767px)
{
    #spe-butt
    {
        font-size: 12px;
    }
    .nav-in
    {
        font-size: 16px;
    }
    .nav-butt
    {
        font-size: 8px;
        width: 15%;
        height: 25px;
        border: 0.8px solid #ffffff;
    }
    .tag-2
    {
        font-size: 1.5rem;
    }
    .banner-img-main
    {
        justify-content: space-evenly;
    }
    .img-banner img
    {
        height: 200px;
    }
    .banner-img h1 
    {
        font-size: 1.5rem;
    }
    .main-img-in
    {
        height: 210px;
        width: 40%;
        padding-top: 0;
    }
    .main-img-sec
    {
        height: 210px;
        width: 40%;
        padding-top: 0;
    }
    .main-img-3
    {
        height: 210px;
        width: 40%;
        padding-top: 0;
    }
     .main-img-4
    {
        height: 210px;
        width: 40%;
        padding-top: 0;
    }
    .main-img-5
   {
        height: 210px;
        width: 40%;
        padding-top: 0;
   }
   .main-img-6
   {
      height: 210px;
      width: 40%;
      padding-top: 0;
   }
    footer 
   {
     height: 35vh;
   }
   .last-footer
   {
    padding-top: 10px;
   }
   .last
   {
     font-size: 1rem;
   }
}
@media screen and (max-width: 479px)
{
    .banner-img-main
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-in
    {
        font-size: 16px;
    }
    #spe-butt
    {
        font-size: 12px;
    }
    .nav-butt
    {
        font-size: 8px;
        width: 15%;
        height: 25px;
        border: 0.8px solid #ffffff;
    }
    .banner-img h1 
    {
        font-size: 1.5rem;
    }
    .img-banner img 
    {
        height: 280px;
    }
    h1 
    {
        font-size: 1.8rem;
        text-align: center;
    }
    p 
    {
        font-size: 1rem;
        padding-bottom: 0;
        padding-top: 10px;
    }
    .tag-2
    {
        font-size: 1.5rem;
    }
    .main-img-in
    {
        padding-top: 0;
        height: 190px;
        width: 47%;
        border-radius: 10px;
    }
    .main-img-sec
    {
        padding-top: 0;
        height: 185px;
        width: 47%;
        border-radius: 6px;
    }
    .main-img-3
    {
        padding-top: 0;
        height: 185px;
        width: 47%;
        border-radius: 6px;
    }
    .main-img-4
    {
        padding-top: 0;
        height: 185px;
        width: 47%;
        border-radius: 6px;
    }
   .main-img-5
   {
      padding-top: 0;
      height: 185px;
      width: 47%;
      border-radius: 6px;
   }
   footer 
   {
     height: 45vh;
   }
   .last-footer
   {
    padding-top: 10px;
   }
   .last
   {
     font-size: 1rem;
   }
}