@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    max-width: 1180px;
    padding-inline: auto;
    margin-inline: auto;
    overflow: hidden;
}
.flex
{
    display: flex;
}
h1
{
    color:rgb(91, 200, 91);
    font-size: 2rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}
p 
{
    text-align: center;
    color: #ffffff;
    font-size: 0.9rem;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
nav
{
    background-color: black;
    height: 80px;

}
.nav-main
{
    min-width:85%;
    margin-inline: 10px;
    padding-top: 30px;
    gap: 10px;
    justify-content: center;
}
.nav-in
{
    color:rgb(229, 9, 20);
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    transition: 0.2 ease-in-out;
}
body
{
    background-color: black;
}
.main
{
    justify-content: center;
    align-items: center;
    align-content: center;
}
.main-first
{
    margin-top: 20px;
    margin-bottom: 10px; 
    margin-inline: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.266);
    width: 40%;
    height: 500px;
    box-shadow: 0 0 10px rgb(22, 201, 123);
    z-index: 2;
}
.main-first h1 
{
    padding-top: 10px;
    padding-left: 10px;
    color: #ffffff;
    font-weight: 600;
}
.main-start
{
    flex-direction: column;
    align-items: center;
}
.input-tag
{
    width: 95%;
    height: 40px;
    color: black;
    padding-left: 8px;
    background-color: #ffffffaa;
    border: 1.5px solid black;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 20px;
}
.butt-in
{
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 25px;
    background-color: rgb(14, 149, 14);
    width: 95%;
    height: 40px;
    border-radius: 3px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}
.butt-in:hover
{
    background-color: rgb(19, 247, 19);
}
.butt-in a
{
    text-decoration: none;
}
.butt-tag
{
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-weight: 600;
}
#new-butt
{
    margin-top: 10px;
}
.circle
{
    width:200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to right,rgba(91, 200, 91, 0.337),rgb(91, 200, 91));
    position: absolute;
}
.c1
{
    top: 85px;
    left:40px;
}
.c2
{
    bottom: 210px;
    right: 50px;
}
