@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    max-width: 1180px;
    padding-inline: auto;
    margin-inline: auto;
    overflow: hidden;
}
.flex
{
    display: flex;
}
p
{
    text-align: center;
    color: black;
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
h1
{
    font-size: 2rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}
nav
{
    background-color: black;
    height: 70px;

}
.nav-main
{
    justify-content: space-evenly;
    min-width:85%;
    margin-inline: 10px;
    padding-top: 30px;
    gap: 10px;
}
.nav-in
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    transition: 0.2 ease-in-out;
}
.nav-in:hover
{
    color:rgb(91, 200, 91);
}
#spe-butt
{
    color:white;
    flex-wrap: nowrap;
}
#spe-hover
{
    color:rgb(91, 200, 91);
}
.nav-butt
{
    display: inline-block;
    height: 35px;
    width: 8%;
    justify-content: center;
    border: 2px solid white;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(14, 149, 14);
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    cursor: pointer;
    transition: 0.2 ease-in-out;
}
.nav-butt .nav-in
{
    font-size: 17px;
}
.nav-butt:hover
{
    background-color: rgb(19, 247, 19);
}
body
{
    background-color: black;
}
.main-start
{
    padding-top: 20px;
}
main hr
{
    min-width: 100%;
    border: 2px solid rgb(14, 149, 14);
}
span
{
    color: rgb(229,20,9);
}
.tag-2
{
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.hr-line
{
    min-width: 100%;
    border: 2px solid rgb(14, 149, 14);
}
footer
{
    height: 20vh;
}
.last-footer
{
    flex-direction: column;
    padding-top: 20px;
}
.last
{
    text-decoration: none;

}
