@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    max-width: 1180px;
    padding-inline: auto;
    margin-inline: auto;
    overflow: hidden;
}
.flex
{
    display: flex;
}
p
{
    text-align: center;
    color: black;
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
h1
{
    font-size: 2rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}
nav 
{
    background-color: black;
    height: 70px;
}
.nav-link
{
    justify-content: space-evenly;
    min-width:85%;
    margin-inline: 50px;
    padding-top: 30px;
}
.nav-hover
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    transition: 0.2 ease-in-out;
}
.nav-hover:hover
{
    color:rgb(91, 200, 91);
}
#spe-hover
{
    color:rgb(91, 200, 91);
}
.nav-butt
{
    display: inline-block;
    height: 35px;
    width: 8%;
    justify-content: center;
    border: 2px solid white;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(14, 149, 14);
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    cursor: pointer;
    transition: 0.2 ease-in-out;
}
.nav-butt .nav-hover
{
    font-size: 17px;
}
.nav-butt:hover
{
    background-color: rgb(19, 247, 19);
}
body
{
    background-color: black;
}
.main-start
{
    padding-top: 20px;
}
main hr
{
    min-width: 100%;
    border: 2px solid rgb(14, 149, 14);
}
.banner-image 
{
    justify-content: space-evenly;
}
.lines
{
    padding-top: 3%;
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    flex-wrap: wrap;
    align-content: stretch;
}
.lines h1
{
    font-size: 2.3rem;
    text-align: center;
}
span
{
    color: rgb(229,20,9);
}
.tag
{
    padding-top: 30px;
    padding-left: 30px;
    color: yellow;
    text-decoration: underline;
}
.tag-2
{
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.day-first
{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.day-first-img
{
    flex-direction: column;
    border-radius: 10px;
    padding-top: 20px;
    height: 300px;
    width: 23%;
    margin: 10px;
    background-color: rgb(151, 239, 18);
    cursor: pointer;
    overflow: hidden;
}
.day-first-img img 
{
    width: 100%;
    border-radius: 6px 6px 0 0;
}
.day-second
{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.day-second-img
{
    flex-direction: column;
    border-radius: 10px;
    padding-top: 20px;
    height: 300px;
    width: 23%;
    margin: 10px;
    background-color: rgb(151, 239, 18);
    cursor: pointer;
    overflow: hidden;
}
.day-second-img img 
{
    width: 100%;
    border-radius: 6px 6px 0 0;
}
.day-third
{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.day-third-img
{
    flex-direction: column;
    border-radius: 10px;
    padding-top: 20px;
    height: 300px;
    width: 23%;
    margin: 10px;
    background-color: rgb(151, 239, 18);
    cursor: pointer;
    overflow: hidden;
}
.day-third-img img 
{
    width: 100%;
    border-radius: 6px 6px 0 0;
}
.day-four
{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.day-four-img
{
    flex-direction: column;
    border-radius: 10px;
    padding-top: 20px;
    height: 310px;
    width: 23%;
    margin: 10px;
    background-color: rgb(151, 239, 18);
    cursor: pointer;
    overflow: hidden;
}
.day-four-img img 
{
    width: 100%;
    border-radius: 6px 6px 0 0;
}
.day-five
{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.day-five-img
{
    flex-direction: column;
    border-radius: 10px;
    padding-top: 20px;
    height: 310px;
    width: 23%;
    margin: 10px;
    background-color: rgb(151, 239, 18);
    cursor: pointer;
    overflow: hidden;
}
.day-five-img img 
{
    width: 100%;
    border-radius: 6px 6px 0 0;
}
.day-six
{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.day-six-img
{
    flex-direction: column;
    border-radius: 10px;
    padding-top: 20px;
    height: 310px;
    width: 23%;
    margin: 10px;
    background-color: rgb(151, 239, 18);
    cursor: pointer;
    overflow: hidden;
}
.day-six-img img 
{
    width: 100%;
    border-radius: 6px 6px 0 0;
}
.hr-line
{
    min-width: 100%;
    border: 2px solid rgb(14, 149, 14);
}
footer
{
    height: 20vh;
}
.last-footer
{
    flex-direction: column;
    padding-top: 20px;
}
.last
{
    text-decoration: none;

}